doctype html
html

  head
    title= title

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width", initial-scale="1")
    meta(name="description", content="")
    meta(name="author", content="")

    //-
      Bootstrap 3.3.7 CSS

    link(href="https://acdn.moeyy.cn/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
    link(rel="icon" href="https://mcdn.moeyy.cn/favicon.ico")

  body
    .container
      .page-header
        h1= title
      p.lead
        | 在线、协作、实时记事本。 
      form(action="/pad/" + id, method="POST")
        button(type="submit", class="btn btn-primary btn-lg")= buttonLbl

    //-
      Bootstrap 3.3.7 JS and JQuery 3.1.1

    script(src="https://acdn.moeyy.cn/cdnjs/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://acdn.moeyy.cn/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
